# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Raw Dataset CSV Files (optional)
backend/data/*.csv

# Node Modules & Build Outputs
node_modules/
dist/
build/
.DS_Store

# IDE / Logs
.vscode/
.idea/
*.log
